/*BLUE #1899D0*/
/*TRIAD: #d01858*/

h4,h5,h6 {
  font-weight: bold;
}
label {
  margin-bottom:2px;
}
.form-group {
  margin-bottom: 5px;
}
.well {
    color:#252525;
    background-color: rgba(255,255,255, 0.9);
}

.navbar {
  margin-bottom:0;
  border-radius: 0;
  border-bottom:1px solid #eee;
}

.navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 20px;
}

.logo {
  padding: 10px 8px 1px 8px;
  position: relative;
  bottom: 4px;
}

section.slider {
  background: #1899D0;
}
.calculate-form {
  margin-top:20px;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-header h3 {
  font-weight: 600;
}

.modal-backdrop {
  background-color: rgba(0,0,0, 0.5);
}

.jumbotron{
    background: linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url("../images/path.jpg");
    /*https://ununsplash.imgix.net/uploads/141223808515744db9995/3361b5e1?q=75&fm=jpg&s=04607c34357b70db74394f2fd8a6db7f*/
    /*https://unsplash.imgix.net/reserve/rVvIisyfQwOhZv35PPhh_unsplash.jpg?q=75&fm=jpg&s=18e60f281c1b5277e2f206874d9f0274*/
    color: #ffffff;
    background-size: cover;
    background-position-y: -180px;
    background-attachment: fixed;
    margin-bottom:0;
}

@media only screen and (min-width : 992px) {
  .col-md-shim {
    margin-left:30px;
  }
   }

.arrow-icon {
  margin-top: 60px;
  font-size: 40px;
}

section.gray{
    padding: 30px 0;
    background: #eeeeee;
}

.progress {
  height:40px;
  line-height: 40px;
}
.progress-bar {
  font-size:14px;
  font-weight:normal;
}

.panel-title {
  font-size:170%;
}

.margin-top {
  margin-top:10px;
}

.man-background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
  ),
  url("https://download.unsplash.com/photo-1423753623104-718aaace6772");
  color: #ffffff;
  background-size: cover;
  margin-bottom:0;
  height:800px;
}

.report-background {
  height:500px;
}

dl {
  font-size:130%;
}
dd {
  margin-bottom:10px;
}
.subscription-panel {
}
.subscription-panel .panel-heading {
  font-weight: bold;
    font-size: 17px;
}

.no-hover:hover {
  background-color : #5cb85c !important;
  cursor: default !important;
  box-shadow: none;
  border-color: #4cae4c;
}

.vert-space {
  margin:50px;
}

footer div.footer-ribbon {
  background: #1899D0;
}

.icon-light {
  color:#1899D0;
}

.icon-white {
  color:white;
}

.page-header {
  padding-bottom: 0px;
  margin: 20px 0 10px;
  border-bottom: 2px solid #ededed;
}

.btn-primary {
  background:#d01858;
}

.btn-primary:hover {
  background:#eb195f;
}

.margin-left {
  margin-left:20px;
}

/*TABBABLE UNDERLINE*/

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  /*border:1px solid #eee;*/
  /*padding: 10px;*/
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
  width:100%;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  font-size:20px;
  min-width: 24%;
  text-align: center;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #1899D0;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

table {
  font-size:90%;
}

.font-weight-normal {
  font-weight:normal;
}

.become-a-member {
  background: white;
  width: 100%;
  border: 1px solid #eee;
  padding: 40px 0;
}

.input-form {
  margin-top: 15px;
  margin-left: 50px;
}

.tabbable-line > .nav-tabs > li.active > a {
  font-size: 16px;
}

.tabbable-line > .nav-tabs > li > a {
  font-size: 16px;
}

.blue-row {
  position: relative;
  bottom: 20px;
  padding: 5px 15px;
  background: #208bc1;
  color: white;
}

.arial {
  font-family: arial;
}